<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>KSBC Life</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.ksbc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ksbc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.85125896421-u2psomm2metko5dsb7eetdsi6cirfci7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb908393693832337</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>908393693832337</string>
	<key>FacebookClientToken</key>
	<string>f4b93e044ba73152e4a67e51bb9fa604</string>
	<key>FacebookDisplayName</key>
	<string>KSBC Life</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<string>NO</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To use the camera to take pictures in the app.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used to secure your identity.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To use the camera to take pictures in the app.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>SFUIText-Bold.otf</string>
		<string>SFUIText-BoldG1.otf</string>
		<string>SFUIText-BoldG2.otf</string>
		<string>SFUIText-BoldG3.otf</string>
		<string>SFUIText-BoldItalicG1.otf</string>
		<string>SFUIText-BoldItalicG2.otf</string>
		<string>SFUIText-BoldItalicG3.otf</string>
		<string>SFUIText-Heavy.otf</string>
		<string>SFUIText-HeavyItalic.otf</string>
		<string>SFUIText-Italic.otf</string>
		<string>SFUIText-ItalicG1.otf</string>
		<string>SFUIText-ItalicG2.otf</string>
		<string>SFUIText-ItalicG3.otf</string>
		<string>SFUIText-Light.otf</string>
		<string>SFUIText-LightItalic.otf</string>
		<string>SFUIText-Medium.otf</string>
		<string>SFUIText-MediumItalic.otf</string>
		<string>SFUIText-Regular.otf</string>
		<string>SFUIText-RegularG1.otf</string>
		<string>SFUIText-RegularG2.otf</string>
		<string>SFUIText-RegularG3.otf</string>
		<string>SFUIText-Semibold.otf</string>
		<string>SFUIText-SemiboldItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
